@font-face {
    font-family: '楷体';
    src: url('../assets/font/KaiTi_GB2312.ttf') format('truetype');
}
@font-face {
    font-family: '华文新魏';
    src: url('../assets/font/Wei.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    background: #000;
    font: 16px/1 "楷体";
}
/*------------------------------------------------*/
/* 能用 */
.btn {
    display: inline-block;
    padding: 5px;
    font-size: 34px;
    color: #7FFFEC;
    text-shadow: 0 0 10px #A6D7FF;
    transition: all .3s ease-out;
    vertical-align: middle;
    background: transparent;
    outline: none;
    border: none;
    text-align: center;
    cursor: pointer;
}
.btn:hover {
    text-shadow: 0 0 40px #5927FF;
    box-shadow: 0 0 10px 1px #FFF;
}
.btn:active{
    transition: all .1s;
    box-shadow: 0 0 10px 5px #FFF;
}
.hide {
    display: none !important;
}
/* 根节点 */
.root {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 1000px;
    height: 600px;
    border: 5px solid #3096E9;
    box-shadow: 0 0 15px 0 rgba(48, 150, 233, 1);
    overflow: hidden;
}
/* 加载面板*/
.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading .box {
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 25px blue;
    font-weight: bold;
    font-size: 28px;
    color: #FF6C4A;
    text-shadow: 0 0 15px #C9FFDA;
    animation: fz 5s infinite linear;
}
/* 菜单 */
.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu h1 {
    margin-bottom: 20px;
    font-family: '华文新魏';
    font-size: 100px;
    color: rgba(194, 194, 194, 0.51);
    text-shadow: 0 0 15px #FF7AD5;
    animation: colorRotate 4s infinite, fadeIn 1s;
    cursor: default;
}
.menu h2 {
    font-size: 30px;
    text-shadow: 0 0 15px #FF7AD5;
    color: rgba(255, 255, 255, 0.13);
    animation: colorRotate 4s infinite, fadeIn 1s;
    animation-fill-mode: both;
    cursor: default;
}
.menu ul {
    margin-top: 30px;
    margin-bottom: 50px;
    display: inline-block;
    list-style: none;
}
.menu ul li {
    display: block;
    margin-top: 30px;
    color: #7FFFEC;
}
/*------------------------------------------------*/
@keyframes fz {
    0% {filter: hue-rotate(0deg) blur(0)}
    30% {filter: hue-rotate(108deg) blur(0)}
    50% {filter: hue-rotate(180deg) blur(4px)}
    80% {filter: hue-rotate(288deg) blur(0)}
    100% {filter: hue-rotate(0deg) blur(0)}
}
