.ani {
    position: absolute;
    box-sizing: border-box;
    transform-origin: center;
    animation-fill-mode: both;
    z-index: 20;
}
/*-----------出生类-----------*/
.spread {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    animation-name: spread;
    animation-duration: .6s;
}
.spread-red {
    border: 1px solid #FF2E2F;
    box-shadow: 0 0 10px 1px rgba(255, 46, 47, 0.6);
}
.spread-green {
    border: 1px solid #96FF4E;
    box-shadow: 0 0 10px 1px rgba(150, 255, 78, 0.6);
}
.spread-blue {
    border: 1px solid #3F8EFF;
    box-shadow: 0 0 10px 1px rgba(63, 142, 255, 0.6);
    animation-name: spread-d;
    animation-duration: 1s;
}
@keyframes spread {
    0% { transform: scale(1) }
    100% { transform: scale(5); opacity: 0 }
}
@keyframes spread-d {
    0% { transform: scale(1) }
    100% { transform: scale(10); opacity: 0 }
}
/*-----------预警类-----------*/
.shrink {
    width: 10px;
    height: 10px;
    animation: shrink ease-in both;
}
.shrink-red {
    border: 1px dashed #FF2E2F;
    box-shadow: 0 0 10px 0 #FF2E2F;
    animation-duration: .7s;
}
.shrink-green {
    border: 1px solid #96FF4E;
    box-shadow: 0 0 10px 0 #96FF4E inset;
    animation-duration: .7s;
}
.shrink-yellow {
    border: 1px dashed #F3FF12;
    box-shadow: 0 0 10px 0 #F3FF12;
    animation: shrinkRotate linear 1s;
}
.shrink-orange {
    border: 1px dashed #FFAB20;
    box-shadow: 0 0 10px 0 #FFAB20;
    animation-duration: .6s;
}
.mark-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #3F8EFF;
    border-radius: 50%;
    position: relative;
    animation: sha .2s linear reverse;
    animation-direction: alternate;
    animation-iteration-count: 6;
}
.mark-blue:after {
    content: '!';
    display: inline-block;
    font-size: 35px;
    color: #3F8EFF;
}
@keyframes shrink {
    0% { width: 160px; height: 160px; margin: -72px 0 0 -72px; opacity: 0 }
    10% { width: 160px; height: 160px; margin: -72px 0 0 -72px; opacity: 1 }
    100% { width: 10px; height: 10px; margin: 0; }
}
@keyframes shrinkRotate {
    0% { width: 160px; height: 160px; margin: -72px 0 0 -72px; }
    100% { width: 10px; height: 10px; margin: 0; transform: rotate(360deg) }
}
/*-----------死亡类-----------*/
.boom {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: boom .9s both;
}
.boom-green {
    border: 3px dotted #96FF4E;
}
.boom-yellow {
    border: 3px solid #F3FF12;
    animation-duration: 1s;
}
.boom-orange {
    border: 3px dotted #FFAB20;
    box-shadow: 0 0 5px 0 #FFAB20;
}
.boom-blue {
    border: 5px dotted #3F8EFF;
    box-shadow: 0 0 5px 0 #3F8EFF;
}
.boom-s-blue {
    border: 1px dotted #3F8EFF;
    box-shadow: 0 0 1px 0 #3F8EFF;
    animation: s-boom .5s;
    transform-origin: center;
}
@keyframes s-boom {
    0% { transform: scale(1) }
    100% { transform: scale(3); opacity: 0 }
}
.boom-red {
    border: 3px dotted #FF2E2F;
    box-shadow: 0 0 5px 0 #FF2E2F;
}
@keyframes boom {
    100% {
        width: 200px;
        height: 200px;
        margin-left: -95px;
        margin-top: -95px;
        opacity: 0;
    }
}
/*-----------残影类-----------*/
.shadow {
    animation: sha both 1s;
}
.shadow-red {
    width: 8px;
    height: 8px;
    box-shadow: 0 0 5px 1px #FF2E2F;
    z-index: 0;
}
.shadow-yellow {
    width: 12px;
    height: 12px;
    box-shadow: 0 0 10px 2px #F3FF12;
}
.shadow-orange {
    width: 6px;
    height: 6px;
    background-color: #FFAB20;
    z-index: 0;
}
@keyframes sha {
    100% { opacity: 0 }
}
