@charset "UTF-8";
%panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
}
@mixin panel($center: null, $none: null, $fill: null) {
    @extend %panel;
    @if ($none) { display: none; }
    @if ($center) { @extend %flex-center }
    @if ($fill) { background: #000; }
}
/*------------------------panel------------------------*/
.btn {
    display: inline-block;
    padding: 5px;
    font-size: 34px;
    color: #7fffec;
    text-shadow: 0 0 10px #a6d7ff;
    transition: all .3s ease-out;
    vertical-align: middle;
    background: transparent;
    outline: none;
    border: none;
    text-align: center;
    cursor: pointer;
    &:hover {
        text-shadow: 0 0 40px #5927ff;
        box-shadow: 0 0 10px 1px #fff;
    }
}
.loading {
    @include panel(1, null, 1);
    .box {
        width: 150px;
        height: 150px;
        line-height: 150px;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0 0 25px blue;
        font-weight: bold;
        font-size: 28px;
        color: #ff6c4a;
        text-shadow: 0 0 15px #c9ffda;
        animation: colorRotate 5s infinite, loading 2s infinite;
    }
}
.menu {
    @include panel(1, 1);
    flex-direction: column;
    h1 {
        margin-bottom: 20px;
        font: 100px/1 wei;
        color: rgba(194, 194, 194, 0.51);
        text-shadow: 0 0 15px #ff7ad5;
        animation: colorRotate 4s infinite, fadeIn 1s;
        cursor: default;
    }
    h2 {
        font-size: 30px;
        text-shadow: 0 0 15px #ff7ad5;
        color: rgba(255, 255, 255, 0.13);
        animation: colorRotate 4s infinite, fadeIn 1s;
        animation-fill-mode: both;
        cursor: default;
    }
    ul {
        margin-top: 30px;
        margin-bottom: 50px;
        display: inline-block;
        list-style: none;
        li {
            display: block;
            margin-top: 30px;
        }
    }
}
.help {
    @include panel(1, 1);
    flex-direction: column;
    color: $uiColor;
    .dir-box {
        text-align: center;
        section { margin-top: 7px; }
        div {
            display: inline-block;
            width: 50px;
            height: 50px;
            border: 2px solid $uiColor;
            line-height: 50px;
            text-align: center;
            font-size: 30px;
        }
    }
    p { font-size: 20px; }
    #back-menu { margin-top: 10px }
}
.main {
    @include panel(null, 1);
    padding: 20px;
    color: $menuColor;
    flex-direction: column;
    font-size: 24px;
    p { margin: 0 0 20px }
    .k-select {
        width: 100%;
        height: 300px;
        text-align: center;
        div {
            float: left;
            width: 50px;
            height: 50px;
            margin-right: 15px;
            line-height: 50px;
            font-size: 30px;
            color: $textColor;
            border: 2px solid $textColor;
            cursor: pointer;
            box-shadow: 0 0 5px $textColor;
            transition: all .5s;
            &:hover {
                box-shadow: 0 0 20px $textColor;
            }
        }
    }
    .bot {
        flex: 1;
        width: 100%;
        margin-left: -20px;
        padding: 10px;
        border-top: 1px solid $uiColor;
        box-shadow: 0 -1px 10px #fff;
        color: $textColor;
        .money {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        #back-menu1{
            margin-top: 130px;
        }
    }
}
