@charset "UTF-8";
@mixin wei { font-family: 'wei'}
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
$menuColor: #7fffec;
$uiColor: #55d442;
$textColor: #ff8f5e;