@charset "UTF-8";
//-------∽-★-∽---- reset ----∽-★-∽--------//
@mixin wei { font-family: "华文新魏", "SimSun-ExtB", '楷体', "DFKai-SB"}
ul, li, h1, h2, h3, html, body { margin: 0; padding: 0; }
html, body {
    position: relative;
    height: 100%;
    width: 100%;
    font: 16px/1 "楷体", "KaiTi", "DFKai-SB", "华文楷体", "wei";
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #000;
}
#container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    border: 5px solid #3096e9;
    box-shadow: 0 0 15px 0 rgba(48, 150, 233, 1);
    overflow: hidden;
}
.fz {
    @include wei;
    position: absolute;
    color: #fff;
    transform: translateZ(0px);
    animation: fz infinite 3s;
}
@keyframes fz {
    50% {filter: blur(4px)}
}